

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Mukta';
    src: url('../assets/fonts/Mukta/Mukta-Regular.ttf');
}












/* CCS Header */

.Log{
    background-color: black;
}

.navbar{
    background-color: #000000;
}

.nec{
    width: 250px;
    height: 70px;
}
.nav-link{
    font-size: 25px;
    color: #E5E5E5;
}

.SocialIcons{
    width: 60px;
    height: 60px;
}


/* Fin CCS Header */






/* CCS Footer  */

.footr{
    grid-area: footr;
}

/* FIN CCS Footer */





























/* CSS index */


.IndexBody{

    font-family: 'Mukta';
    background-color: #14213D;
    display: grid;
    grid-template-areas: 
    "hdr hdr hdr"
    "title title title"
    "values values values"
    "footr footr footr"
    ;
    grid-template-columns: 33,3% 33,3% 33,3%;
    grid-template-rows:  110px 700px 500px 150px;
    /*grid-row-gap: 2px;
    grid-column-gap: 2px;*/
    
    
}



.SloganBackground{
    background-image: url('../assets/images/index_background.jpg') ;
    background-repeat: no-repeat ;
    background-attachment:scroll ;
    background-size:cover ;
    background-position: center center;
    grid-area: title;
    overflow: hidden;
    /*
    width: 2000px;
    height: 1000px;*/
}
.Slogan{

    font-size: 65px;
    color: #FFFFFF;
    font-family: 'Mukta', sans-serif;
    padding-bottom: 1%;
    animation-name: link;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: 0s;
    text-align: center;
    position: relative;
    margin-top: 15%;


}
.SubSlogan{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-style:oblique;
}

.center-block{
    animation-name: LogoAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
}

.Head{
    grid-area: hdr;
    position: relative;
}



.logo__img{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 96%;
    height: 75%;
}



@keyframes link {
    0%{
        text-shadow: 2px 2px #21b114;
    }
    10%{
        text-shadow: 2px 2px #3a4339;
    }
    20%{
        text-shadow: 2px 2px #3a4339;
    }
    30%{
        text-shadow: 2px 2px #21b114;
    }
    40%{
        text-shadow: 2px 2px #3a4339;
    }
    50%{
        text-shadow: 2px 2px #21b114;
    }
    60%{
        text-shadow: 2px 2px #3a4339;
    }
    70%{
        text-shadow: 2px 2px #21b114;
    }
    80%{
        text-shadow: 2px 2px #3a4339;
    }
    90%{
        text-shadow: 2px 2px #21b114;
    }
    100%{
        text-shadow: 2px 2px #21b114;
    }
}

.MainIndex{
    grid-area: values;
    background-color: black;
    

}

.value__title{
    color: 	#FCA311;   
    font-size: 30px;
    text-shadow: #440099 1px 1px;
    text-align: center;
    
    
}
.value__txt{
    text-align: center;
    font-size: large;
    color:  #E5E5E5;
    
}
.FlipIcon{
    background-color: #000000;
    width: 300px;
    height: 300px;
}

.footr{
    font-family: 'Mukta';
    font-weight:bold;
    text-align: center;
    grid-area: footr;

}

.giradores{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*TEST de animacion CARD FLIP*/

.col-sm-4
	{
		/*padding: 15px;*/
	}
	.flipy {
    -webkit-perspective: 800;
    width: 330%;
    height: 340px;
    position: relative;
    border: none;
}
.flipy .card:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.flipy .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flipy .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-family: Mukta;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}
.flipy .card .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: black;
    cursor: pointer;
}
.flipy .card .back {
	-webkit-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	background: black;
	cursor: pointer;
}
/*FIN TEST de animacion CARD FLIP*/

/* Fin de CSS Index */







































/*CCS Alcance*/

.allreach{
    background-color: #14213D;
    background-position: center;
    background-size:cover;
    font-family: 'Mukta';
    display: grid;
    grid-template-areas: 
    "hdr hdr hdr"
    "titulo titulo titulo"
    "texto1 texto2 texto3"
    "foto sucursales sucursales"
    "footr footr footr"
    ;
    grid-template-columns: 33% auto 33%;
    grid-template-rows:  110px 130px 250% 300% 200px;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    align-items: center;
}

.reach__aside{
    grid-area: sucursales;
    padding: 3px;
    
}


.pair1{
    display: flex;
    flex-direction: row;
    
}

.pair2{
    display: flex;
    flex-direction: row;
    
}

.texto1{
    grid-area: texto1;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: none;
    transition: background-color 1s;
}
.texto1:hover{
    background-color: #000000;
    

}

.texto2{
    grid-area: texto2;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: none;
    transition: background-color 1s;
}
.texto2:hover{
    background-color: #000000;
}
.texto3{
    grid-area: texto3;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: none;
    transition: background-color 1s;
}
.texto3:hover{
    background-color: #000000;
}
.reach__article{
    grid-area: foto;
    
}
.reach__title{
    display: grid;
    grid-area: titulo;
    justify-content: center;
    color:  #E5E5E5;
    text-shadow:1px 1px #FCA311;
    font-size: 60px;
    text-align: center;
}
.reach__li{
    color:  #E5E5E5;
    text-align: center;
    font-size: 30px;
    grid-area: texto1;
}
.SucList{
    list-style-type: none;
    background-color: #f972114a;
}
.reach__txt{
    color:#FFFFFF;
    
    font-size: large;
    grid-area: texto1;
}
.EffectValues{
    background-color: none;
    transition: background-color 1s;
}
.EffectValues:hover{
    background-color: #333333
}



.suc__prov{
    /*border: #ff8800;*/
    color: #440099;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.suc__site{
    color: #333333;

    font-size: 25px;
    text-align: end;
    /*padding-right: 3%;*/

}

.suc__title{
    color:  #E5E5E5;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

/*Mapa de la argentina*/

.svc__title{
    
    text-align: center;
    color:  #E5E5E5;
    text-shadow:1px 1px #FCA311;
    font-size: 50px;
}
.svc__img{
    height: 1000px;
    width: 440px;
    display: flex;
    flex-direction: column;
    animation-name: ArgenEffect;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes ArgenEffect {
    0%{ transform: rotateY(360deg);}
    /*25%{transform: rotateY(180deg);}
    75%{transform: rotateY(270deg);}
    100%{transform: rotateY(360deg);}*/
}



@font-face {
    font-family: 'Mukta';
    src: url('../assets/fonts/Mukta/Mukta-Regular.ttf');
}

/*Animación de las fotos*/


.places {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    padding: 4px;
}

.places .places-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.places:hover .places-overlay{
    opacity: 1;
}

.places-image{
    width: 100%;
}

.places-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.places:hover .places-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.places-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.places-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

.fadeIn-top{
    top: 20%;
}

.fadeIn-left{
    left: 20%;
}

.fadeIn-right{
    left: 80%;
}
/*FIN animacion de las fotos*/














































/* CCS Acerca de  */

.allcert{
    

    
    background-color: #E5E5E5; 
    background-position: center;
    background-size: contain;
    width: 100%;
    font-family: 'Mukta';
    
    
}

.toptitle{
    text-align: center;
    color: #14213D;
    text-shadow: #6746B9 1px 1px;
    margin-top: 2%;
    font-size: xx-large;
    
    
}

.toptext{
    text-align: center;
    font-size: x-large;
    color:  #000000;
    padding: 2%;
}



.about{
    text-align: center;
    display: flex;
    flex-direction: column;

}

.about__title{
    color: #14213D;   
    text-shadow: #6746B9 1px 1px;
    font-size: 50px;
    
}

.about__h2{
    color: aqua;   
    text-shadow: #6746B9 1px 1px;
    font-size: 200%;
}



.about__txt{
    text-align: center;
    font-size: x-large;
    color:  000000;
    padding: 2%;
}


.cert__table{
    
    border: none;
    border-style: groove;
    width: 150% viewport-width 100%;
    border-style: solid;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    text-align: center;
    border-spacing: 16%;


}
.cert__item1{
    border-spacing: 16%;
    background-image: linear-gradient(to left, black, #343333);
    border-color: none;
    border-style: dashed;
    width: 15%;
    color:#FCA311;
    font-size: 200%;
    padding-left: 3%;
    padding-right: 3%;
    /*border-collapse: separate;*/
}
.cert__item2{ 
    background-color: black;
    border-color: none;
    
    color: #E5E5E5;   
    font-size: 200%;
    
    padding-left: 3%;
    padding-right: 3%;
    border-spacing: 16%;
}

.certs{
    margin-left: 20%;
    margin-bottom: 2%
    
}

.certs__images{
    width: 15%;
    height: 15%;
}

/*Fin CCS Acerca de */



































/*CSS galería*/

.container-fluid{
    background-image: url("../assets/backgrounds/8220network1.jpg");
    background-repeat: no-repeat ;
    background-attachment:fixed ;
    background-size:cover ;
    background-position: center center;
}

.gal__title{
    font-family: 'Mukta';
    animation-name: colores;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
    font-size: 50px;
    text-align: center;
    margin: 25px;
}
.col-lg-4{
    padding: 10px;
}

@keyframes colores{
    0%{
        color: #F97111;
        text-shadow: #0621A6 3px 3px;
    }
    25%{
        color: #f9ce11;
        text-shadow: #137087 3px 3px;
    }
    50%{
        color: #14dd1e;
        text-shadow: #3f1ca9 3px 3px;
    }
    75%
    {
        color: #2b48da;
        text-shadow: #3f1ca9 3px 3px;
    }
    100%
    {
        color: #14dd1e;
        text-shadow: #8620b2 3px 3px;
    }
}

/*TEST*/
.hover-zoomin a {
    /*display: block;*/
    position: relative;
    overflow: hidden;
}
.hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*END TEST*/


/*Fin CSS Galeria */



































/*Contacto CSS*/

#Consultas{
    background-color: #14213D;
    
}
.ConsHead{
    text-align: center;
    font-family: 'Mukta';
    color: #1edf09;
    text-shadow: #02DEC4 2px 2px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 70px;
    animation-name: radioactive;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes radioactive{
    0%{ 
        text-shadow: 0 0 8px #2bff00, 0 0 8px #00eeff;
    }
    25%{
        text-shadow: 0 0 8px #2bff0074, 0 0 8px #00eeff;
    }
    50%{
        text-shadow: 0 0 8px #2bff0057, 0 0 8px #00eeff;;
    }

    75%{
        text-shadow: 0 0 8px #2bff0099, 0 0 8px #00eeff;
    }
    100%{
        text-shadow: 0 0 8px #2bff00, 0 0 8px #00eeff;
    }
}

.form{
    border: none;
    border-style:ridge;
    border-radius: 1%;
    border-width: 7px;
    font-family: 'Mukta';
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 15% 3% 15%;
    
}
.form__text{
    font-size: xx-large;
    color: #14213D;
    text-shadow: #000000 1px 1px;
    text-align: center;
    padding-left: 3%;
}
.form__input{
    
    width: 700px;
    text-align:left;
    font-size: x-large;
    border-style:groove;
    border-color: #6746B9;
    border-width: 3px;
    
    color: #02DEC4;
}
.form__input:default{
    background-color: #ff880072;
}
.form__input:invalid{
    background-color: rgba(255, 0, 0, 0.429);
}
.form__input:valid{
    background-color: rgba(21, 243, 5, 0.429);
}

.form__checktxt{
    font-size: x-large;
    color: #14213D;
    text-shadow: #000000 1px 1px;
    text-align: end;
    padding-left: 10%;
}
.form__checkbox:invalid{
    background-color: rgba(255, 0, 0, 0.429);
}

.form__checkbox{
    width: 20px;
    height: 20px;
}
.form__bigsqr{
    
    margin-bottom: 5%;
    height: 100px; 
    width: 700px;
    padding: 12px 20px;
    font-size: larger;
    background-color: rgba(21, 243, 5, 0.429);
    border-style:groove;
    border-color: #6746B9;
    border-width: 3px;
    color: #02DEC4;
    box-sizing: border-box;
    resize: none;
}

#data{
    font-family: 'Mukta';
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: xx-large;
    text-align: center;
    font-family: 'Mukta';
    color: #FCA311;
    margin-top: 3%;
    margin-bottom: 3%;
}


