
$colores:(
    paleta0: black,
    paleta1: #FFFFFF,
    paleta2: #FCA311,
    violeta: #440099,
    paleta3: #E5E5E5
);




header{
    
    grid-area: hdr;
    position: relative;
    background-color: black;

    nav{

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .nec{
            width: 300px;
            height: 90px;
            padding-top: 10px;
        }
        

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;

            li{
                list-style: none;
                
                a{
                    font-size: 25px;
                    color: #E5E5E5;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    
                    img{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-self: center;
                    }
                }
            }
            
        }
        
    }

}



.IndexBody{

        font-family: 'Mukta';
        background-color: #14213D;
        display: grid;
        grid-template-areas: 
        "hdr hdr hdr"
        "title title title"
        "values values values"
        "footr footr footr"
        ;
        grid-template-columns: 33,3% 33,3% 33,3%;
        grid-template-rows:  110px 700px 500px 150px; 
}



.allreach{
        background-color: #14213D;
        background-position: center;
        background-size:cover;
        font-family: 'Mukta';
        display: grid;
        grid-template-areas: 
        "hdr hdr hdr"
        "titulo titulo titulo"
        "texto1 texto2 texto3"
        "foto sucursales sucursales"
        "footr footr footr"
        ;
        grid-template-columns: 33% auto 33%;
        grid-template-rows:  110px 130px 250% 300% 200px;
        grid-row-gap: 2px;
        grid-column-gap: 2px;
        align-items: center;
}

footer{
        /*.footr{
            
        }*/
        grid-area: footr;
        text-align: center;
        .SocialIcons{
            width: 60px;
            height: 60px;
        }
}

