
@keyframes link {
    0%{
        text-shadow: 2px 2px #21b114;
    }
    10%{
        text-shadow: 2px 2px #3a4339;
    }
    20%{
        text-shadow: 2px 2px #3a4339;
    }
    30%{
        text-shadow: 2px 2px #21b114;
    }
    40%{
        text-shadow: 2px 2px #3a4339;
    }
    50%{
        text-shadow: 2px 2px #21b114;
    }
    60%{
        text-shadow: 2px 2px #3a4339;
    }
    70%{
        text-shadow: 2px 2px #21b114;
    }
    80%{
        text-shadow: 2px 2px #3a4339;
    }
    90%{
        text-shadow: 2px 2px #21b114;
    }
    100%{
        text-shadow: 2px 2px #21b114;
    }
}

