body {
  /*.IndexBody{*/
  font-family: 'Mukta';
  display: grid;
  grid-template-areas: "hdr hdr hdr" "title title title" "values values values" "footr footr footr";
  grid-template-columns: 33,3% 33,3% 33,3%;
  grid-template-rows: 110px 1000px 500px 200px;
  /*} */ }

@keyframes link {
  0% {
    text-shadow: 2px 2px #21b114; }
  10% {
    text-shadow: 2px 2px #3a4339; }
  20% {
    text-shadow: 2px 2px #3a4339; }
  30% {
    text-shadow: 2px 2px #21b114; }
  40% {
    text-shadow: 2px 2px #3a4339; }
  50% {
    text-shadow: 2px 2px #21b114; }
  60% {
    text-shadow: 2px 2px #3a4339; }
  70% {
    text-shadow: 2px 2px #21b114; }
  80% {
    text-shadow: 2px 2px #3a4339; }
  90% {
    text-shadow: 2px 2px #21b114; }
  100% {
    text-shadow: 2px 2px #21b114; } }

@font-face {
  font-family: 'Mukta';
  src: url("../assets/fonts/Mukta/Mukta-Regular.ttf"); }

/*
.navbar{
    background-color: #000000;
}

*/
/*
.nav-link{
    font-size: 25px;
    color: #E5E5E5;
}*/
body header {
  background-color: black;
  grid-area: hdr;
  position: relative; }
  body header nav a .nec {
    width: 250px;
    height: 70px; }
  body header nav .nav-link {
    font-size: 25px;
    color: #E5E5E5; }

body .SloganBackground {
  background-image: url("../assets/images/index_background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  grid-area: title;
  overflow: hidden;
  /*
        width: 2000px;
        height: 1000px;*/ }

body .Slogan {
  font-size: 65px;
  color: #FFFFFF;
  font-family: 'Mukta', sans-serif;
  padding-bottom: 1%;
  animation-name: link;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-delay: 0s;
  text-align: center;
  position: relative;
  margin-top: 15%; }

body div .SubSlogan {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-style: oblique; }

body main {
  grid-area: values;
  background-color: black; }
  body main article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*  
            .footr{
                font-family: 'Mukta';
                font-weight:bold;
                text-align: center;
                grid-area: footr;
            
            }
*/ }
    body main article div div div div div .value__title {
      color: #FCA311;
      font-size: 30px;
      text-shadow: #440099 1px 1px;
      text-align: center; }
    body main article div div div div div .value__txt {
      text-align: center;
      font-size: large;
      color: #E5E5E5; }
    body main article div div div div div .FlipIcon {
      background-color: #000000;
      width: 300px;
      height: 300px; }
    body main article .col-sm-4 {
      /*padding: 15px;*/ }
    body main article .flipy {
      -webkit-perspective: 800;
      width: 330%;
      height: 340px;
      position: relative;
      border: none; }
    body main article .flipy .card:hover {
      -webkit-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg); }
    body main article .flipy .card {
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s; }
    body main article .flipy .card .face {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      z-index: 2;
      font-family: Mukta;
      font-size: 12px;
      text-align: center;
      line-height: 30px; }
    body main article .flipy .card .front {
      position: absolute;
      z-index: 1;
      background: black;
      color: black;
      cursor: pointer; }
    body main article .flipy .card .back {
      -webkit-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      background: black;
      cursor: pointer; }

body footer {
  grid-area: footr;
  background-color: #14213D; }
  body footer section ul {
    list-style: none; }
    body footer section ul li a .SocialIcons {
      width: 60px;
      height: 60px; }

/* Fin CCS Header */
/* CCS Footer  */
/*
.logo__img{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 96%;
    height: 75%;
}



.MainIndex{
    grid-area: values;
    background-color: black;
    

}*/
/*TEST de animacion CARD FLIP*/
/*FIN TEST de animacion CARD FLIP*/
/* Fin de CSS Index */
